.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .row .row {
    align-items: flex-start; }
    .row .row .column {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      padding: 0 10px;
      justify-content: flex-start; }

h2 {
  margin-top: 0; }

div.layout {
  display: flex; }

i:hover {
  cursor: pointer; }

.empty-text, .empty-text-main {
  background-color: rgba(162, 162, 162, 0.77);
  color: transparent;
  text-shadow: 0px 1px 3px #353535;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; }

.empty-text-main {
  text-shadow: 0px 1px 3px white;
  margin-top: 100px; }

.stop-scrolling {
  height: 100vh;
  overflow: hidden; }

@media only screen and (min-width: 800px) {
  .empty-text-main {
    font-size: 30px; } }

@media only screen and (min-width: 1200px) {
  .empty-text-main {
    font-size: 40px; } }

aside {
  overflow: scroll;
  display: flex;
  position: fixed;
  top: 78px;
  height: 100vh;
  width: 50px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #795548;
  flex: 0 0 50px;
  font-size: 20px;
  z-index: 6;
  color: white; }
  aside .fa-calendar {
    text-align: center;
    width: 100%;
    padding-top: 30px;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white; }
  aside .weekly-plan {
    opacity: 0;
    text-align: center;
    width: auto;
    height: 0px;
    padding: 0px;
    overflow: hidden;
    padding-bottom: 100px; }
    aside .weekly-plan h3 {
      font-weight: normal; }
  aside .show-plan {
    opacity: 1;
    width: 90%;
    height: auto;
    transition-duration: .5s;
    overflow: scroll; }
  aside .recipe {
    display: flex;
    padding: 5px;
    margin-bottom: 1px;
    background-color: rgba(0, 0, 0, 0.53);
    font-size: .65em;
    align-items: center;
    border-radius: 5px; }
    aside .recipe div {
      text-align: left; }
    aside .recipe * {
      padding-right: 10px; }
    aside .recipe .fa-close {
      width: auto;
      font-size: 25px;
      border-bottom: none;
      padding: 0 10px 0 0; }
    aside .recipe .title {
      margin-top: 0; }

.slideAside {
  width: 320px; }

.full-recipe {
  color: #bbbbbb;
  text-decoration: none;
  border-bottom: none; }

.full-recipe:hover {
  color: #888888; }

@media only screen and (max-width: 421px) {
  aside {
    top: 108px; } }

.recipe-search {
  position: fixed;
  z-index: 5;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #009688; }
  .recipe-search input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    outline: none; }
  .recipe-search .submit {
    color: white;
    margin-right: 0;
    border-radius: 5px 0 0 5px;
    border-right: none;
    background-color: #5c2ab0; }
  .recipe-search .search-field {
    width: 40%;
    border-radius: 0 5px 5px 0; }
  .recipe-search i {
    margin-right: 5px;
    flex: 0 0 0;
    font-size: 20px; }
  .recipe-search .show-advanced {
    color: white; }
  .recipe-search .show-advanced:hover {
    cursor: pointer;
    vertical-align: center;
    color: #dddddd; }

input[type='checkbox'] {
  margin-right: 5px; }

.advanced-search {
  margin-left: 50px;
  margin-top: 20px;
  transition-duration: .5s;
  height: 0;
  overflow: hidden;
  color: #d2d2d2;
  background-color: #d2d2d2; }
  .advanced-search .diet, .advanced-search .excluded-ingredient, .advanced-search .courses {
    border-right: 1px solid black;
    margin: 20px 20px 20px 0; }
    .advanced-search .diet h2, .advanced-search .excluded-ingredient h2, .advanced-search .courses h2 {
      padding-left: 10px; }
  .advanced-search .courses {
    border-right: 0px; }

div.show-flex {
  transition-duration: .5s;
  color: #646464;
  height: auto;
  overflow: scroll; }

@media only screen and (max-width: 1084px) {
  .advanced-search {
    align-content: center;
    overflow: scroll; }
    .advanced-search .diet, .advanced-search .excluded-ingredient, .advanced-search .courses {
      flex: 0 0 100%;
      margin: 0 0 10px 0;
      border-right: 0; }
  .row .row {
    justify-content: flex-start; }
    .row .row .column {
      flex: 0 0 110px; } }

@media only screen and (max-width: 421px) {
  .show-advanced {
    padding-top: 10px; } }

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 50px;
  top: 90px;
  width: 100%; }
  main .recipe {
    max-width: 250px; }
    main .recipe .rating {
      color: #ffd005; }
    main .recipe.showing-recipe-info {
      margin-bottom: 500px; }
    main .recipe .image-crop {
      position: relative;
      background-color: black;
      text-align: center;
      width: 250px;
      height: 250px;
      overflow: hidden;
      cursor: pointer; }
      main .recipe .image-crop i {
        color: white;
        z-index: 3;
        font-size: 25px;
        padding-left: 10px; }
      main .recipe .image-crop .floating-icons {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 10px;
        border-radius: 5px 0 5px 5px;
        background-color: rgba(0, 0, 0, 0.34); }
        main .recipe .image-crop .floating-icons .fa-star {
          cursor: default;
          color: #ffd005;
          font-size: 20px;
          padding-left: 5px; }
        main .recipe .image-crop .floating-icons .fa-calendar {
          padding-left: 10px;
          padding-right: 0; }
      main .recipe .image-crop .more {
        position: absolute;
        bottom: 10px;
        right: 10px; }
      main .recipe .image-crop .day-box {
        display: none;
        position: absolute;
        font-size: 1em;
        color: white;
        z-index: 2;
        bottom: 0;
        right: 0px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5); }
        main .recipe .image-crop .day-box .day {
          border-bottom: 1px solid #c5c5c5;
          padding: 5px; }
        main .recipe .image-crop .day-box .day:hover {
          background-color: rgba(0, 0, 0, 0.5); }
      main .recipe .image-crop img {
        height: 250px; }
    main .recipe h4 {
      display: inline-block;
      padding-right: 10px; }
  main .recipe-info {
    position: absolute;
    height: 0;
    width: 100%;
    z-index: 0;
    color: white;
    visibility: hidden;
    overflow: scroll;
    color: #4c4c4c; }
    main .recipe-info .contents {
      display: flex;
      flex-direction: column;
      padding: 20px 20px 20px 18%; }
    main .recipe-info .full-recipe {
      color: #5c2ab0;
      text-decoration: none;
      margin-bottom: 20px; }
    main .recipe-info .full-recipe:hover {
      color: #3e1c78; }
    main .recipe-info .row.header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px; }
    main .recipe-info .attribution {
      color: #b8b8b8;
      font-size: .8em; }
    main .recipe-info h2 {
      margin: 0; }
    main .recipe-info .row {
      align-items: flex-start;
      justify-content: flex-start; }
    main .recipe-info .column {
      flex: 0 0 300px;
      margin-right: 20px; }
    main .recipe-info li {
      list-style: none;
      padding: 8px; }
    main .recipe-info ul {
      padding-left: 0; }
    main .recipe-info h3 {
      margin-top: 0; }
    main .recipe-info .rating {
      padding: 0 30px; }
      main .recipe-info .rating i {
        font-size: 20px;
        color: #ffd005; }
  main .show-recipe-info {
    display: block;
    position: absolute;
    flex: 0 0 100%;
    background: #e8e8e8;
    height: 460px;
    width: 100%;
    visibility: visible;
    border-top: 1px solid #cdcdcd; }

@media only screen and (max-width: 450px) {
  .show-recipe-info {
    padding-right: 20px 0 20px 50px; }
    .show-recipe-info img {
      height: auto;
      width: 90%; } }

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh; }
  .modal .flex-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .modal .iframe-container {
    position: relative;
    width: 90%;
    height: 80%; }
    .modal .iframe-container iframe {
      width: 100%;
      height: 100%;
      border: 3px solid gray; }
  .modal .fa-close {
    position: absolute;
    left: -27px;
    top: -25px;
    font-size: 30px;
    padding: 10px 13px;
    color: white;
    border-radius: 50%;
    background-color: gray; }
