$asideColor: rgb(121, 85, 72);

h2 {
  margin-top: 0;
}

div.layout {
  display:flex;
}

i:hover {
  cursor: pointer;
}

.empty-text {
  background-color: rgba(0, 0, 0, 0.77);
  color: transparent;
  text-shadow: 0px 1px 3px $asideColor;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.empty-text-main {
  @extend .empty-text;
  text-shadow: 0px 1px 3px rgb(255, 255, 255);
  margin-top: 175px;
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

@media only screen and (min-width: 800px) {
  .empty-text-main {
    font-size: 30px;
  }
}


@media only screen and (min-width: 1200px) {
  .empty-text-main {
    font-size: 40px;
  }
}
