.recipe-search {
  position: fixed;
  z-index: 5;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(0, 150, 136);

  input {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    outline: none;
  }

  .submit {
    color: white;
    margin-right: 0;
    border-radius: 5px 0 0 5px;
    border-right:none;
    background-color: #603F98;
  }

  .search{
    padding-bottom: 20px;
  }
  .search-field {
    width: 40%;

    border-radius: 0 5px 5px 0;
  }

  i {
    margin-right: 5px;
    flex: 0 0 0;
    font-size: 20px;
  }

  .show-advanced {
    color: white;
  }

  .show-advanced:hover {
    cursor: pointer;
    vertical-align: center;
    color: rgb(221, 221, 221);
  }

}

input[type='checkbox'] {
  margin-right: 5px;
}


.advanced-search-container {
  margin-left: 50px;
  display: none;
}

.advanced-search {
  transition-duration: .5s;
  height: auto;
  overflow: hidden;
  color: rgb(237, 237, 237);
  background-color: rgb(237, 237, 237);
  .diet {
    border-right: 1px solid black;
    margin: 20px 20px 20px 0;

    h2 {
      padding-left: 10px;
    }
  }

  .sort {
    padding-top: 38px;
    padding-right: 20px;
  }

  .sort-desc {
    cursor: pointer;
  }
  
  .sort-asc {
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
  }

  .excluded-ingredient {
    @extend.diet;
  }

  .courses {
    @extend.diet;
    border-right: 0px;
  }
}

div.show-flex {
  transition-duration: .25s;
  color: rgb(100, 100, 100);
  overflow: scroll;
}


@media only screen and (max-width: 1084px) {
  .advanced-search {
    align-content: center;
    overflow: scroll;
    .diet {
      flex: 0 0 100%;
      margin: 0 0 10px 0;
      border-right: 0;
    }
  }
  .row {
    .row{
      justify-content: flex-start;
      .column {
        flex: 0 0 110px;
      }
    }
  }
}

@media only screen and (max-width: 449px) {
  .show-advanced {
    padding-top: 10px;
  }
}
