.recipe-search {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: white;

  input {
    padding: 10px;
    margin-right: 10px;
  }

  .search-field {
    width: 40%;
  }

  i {
    margin-right: 5px;
    flex: 0 0 0;
    font-size: 20px;
  }

  .show-advanced:hover {
    cursor: pointer;
    vertical-align: center;
  }

}

input[type='checkbox'] {
  margin-right: 5px;
}

.advanced-search {
  margin-top: 20px;
  transition-duration: .5s;
  height: 0;
  overflow: hidden;
  background-color: rgb(221, 221, 221);
}

div.show-flex {
  transition-duration: .5s;
  height: 120px;
  padding: 20px;
}
