
main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 50px;
  top: 90px;
  width: 100%;

  .recipe {
    max-width: 250px;
    //transition-duration: .5s;

    &.showing-recipe-info{
      margin-bottom: 500px;
      //transition-duration: .5s;
    }

    .image-crop {
      position: relative;
      background-color: black;
      text-align: center;
      width: 250px;
      height: 250px;
      overflow: hidden;
      cursor: pointer;

      i {
        color: white;
        z-index: 3;
        font-size: 30px;
        padding-left: 10px;
      }
      .floating-icons {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.34);

        .fa-star {
          cursor: default;
        }

        .fa-calendar {
          padding-left: 0px;
        }
      }

      .more {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      .day-box {
        display: none;
        position: absolute;
        font-size: 1em;
        color: white;
        z-index: 2;
        top: 45px;
        right: 0px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        .day{
          border-bottom: 1px solid rgb(197, 197, 197);
          padding: 5px;
        }
        .day:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      img {
        height: 250px;
      }
    }

    h4 {
      display: inline-block;
      padding-right: 10px;
    }
  }

  .recipe-info {
    position: absolute;
    height: 0;
    width: 100%;
    // transition-duration: .5s;
    z-index: 0;
    color: white;
    visibility: hidden;
    overflow: scroll;
    .contents {
      display: flex;
      flex-direction: column;
      padding: 20px 20px 20px 70px;
    }

    .rating {
      i {
        color: rgb(255, 208, 5);
        font-size: 20px;

      }
      padding: 0 30px;
    }

    .full-recipe {
      color: rgb(253, 193, 24);
      text-decoration: none;
    }

    .full-recipe:hover {
      color: rgb(235, 139, 39);
    }

    .row.header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
    }

    .attribution {
      color: rgb(184, 184, 184);
      font-size: .8em;
    }

    h2 {
      margin: 0;
    }

    .row {
      align-items: flex-start;
      justify-content: space-around;
    }
    .column {
      flex: 0 0 300px;
    }

    li {
      list-style: none;
      background-color: rgb(160, 160, 160);
      border-bottom: 1px solid rgb(65, 65, 65);
      padding: 8px;
    }

    ul {
      padding-left: 0;
    }

    h3 {
      margin-top: 0px;
    }
  }

  .show-recipe-info {
    display: block;
    position: absolute;
    flex: 0 0 100%;
    background: rgb(42, 9, 74);
    height: 460px;
    width: 100%;
    visibility: visible;
    border-top: 1px solid rgb(27, 26, 26);
    // transition-duration: .5s;
  }
}

@media only screen and (max-width: 450px) {
  .show-recipe-info {
    padding-right: 20px 0 20px 50px;

    img {
      height: auto;
      width: 90%;
    }
  }
}
