aside {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 50px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: gray;
  flex: 0 0 50px;
  top: 80px;
  font-size: 20px;
  z-index: 6;
  
  i {
    padding-top: 20px;
    font-size: 20px;
  }
}
