aside {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 50px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(175, 38, 38);
  flex: 0 0 50px;
  top: 80px;
  font-size: 20px;
  z-index: 6;

  i {
    padding-top: 30px;
    font-size: 20px;
    color: white;
  }
}


.slideAside {
  width: 300px;
}
